<p id="notice"><%= notice %></p>


<%= link_to 'Create another flashcard', new_flashcard_path %><br />

<%= link_to 'Edit', edit_flashcard_path(@flashcard) %> |
<%= link_to 'Back', flashcards_path %>
