<div id='navbar'>

  <h1>StudyStupid</h1>

  <a href="/flashcards">Flashcards</a>

</div>

<%= image_tag("index_photo.png", :id => "index_photo") %>

<h2>this is h2</h2>
<h3>this is h3</h3>
<h4>this is h4</h4>
<br/>

<p></p>