/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sign_in, #sign_out {
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  color: white;
}

#greeting {
  float: left;
  color: white;
  margin-top: 5px;
  margin-left: 10px;
}

#about, #contact, #help {
  margin-top: 10px;
}

#flashcards, #accounts {
  float: left;

  color: white;
  margin-top: -12px;
}

#flashcards {
  margin-left: 20%;
}

#accounts {
  margin-left: 10px;
}

#header {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 1440px;
  background-color: #000;
}

#title {
  float: left;
  margin-left: 10%;
  margin-top: 4px;
  color: white;
  font-size: 1.5em;
}

footer {
  position: fixed;
  z-index: 0;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  height: 5%;
  width: 100%;
  text-align: center;
  background-color: #000;
}

#site_title {
  color: red;
}

.decks:hover {
  border-color: red;
}

