// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decks {
  position: absolute;
/* bottom: 8%; */
  z-index: 0;
  width: 200px;
  height: width/2;
  border: 1px solid #000000;
  margin: 0em 1em 0em 1em;
}

.deckShow {
  z-index: 0;
  width: 200px;
  height: width/2;
  border: 1px solid #000000;
  margin: 0em 1em 0em 1em;
}

.show, .edit, .destroy {
  width: 20px;
}

.show:hover, .edit:hover, .destroy:hover {
  background-color: red;
}

.show {
 width: 25px;
}

#showDeck {
  width: 20%;
  height: width/2;
  border: 2px solid #000000;
}

#newDeck {
  position: fixed;
  float: left;
  bottom: 20%;
  left: 2%;
}

#card {
  width: 800px;
  height: width/2;
  border: 1px solid #000000;
  top: 15%;
  z-index: 0;
}

#decks_outer {
  position: fixed;
  height: 103px;
  width: 100%;
  bottom: 1%;
  white-space:nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  /*background-color: yellow;*/
  padding-bottom: 10px;
  z-index: 0;
}
