// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decks {
  position: absolute;
  bottom: 8%;
  z-index: 0;
  width: 200px;
  height: width/2;
  border: 1px solid #000000;
  margin: 0em 1em 0em 1em;
}

.show, .edit, .destroy {
  position: absolute; 
  top: 70%; 
  z-index: 1;
  width: 2%;
  height: width;
  margin-left: 1%;
  border: 1px solid #000000;
}

.show {
  margin-left: 1.5%;
}

.show:hover {
  background-color: red;
}

.edit {
  margin-left: 3.5%;
}

.edit:hover {
  background-color: green;
}

.destroy {
  margin-left: 5.5%;
}

.destroy:hover {
  background-color: blue;
}

#showDeck {
  width: 20%;
  height: width/2;
  border: 2px solid #000000;
}

#newDeck {
  position: fixed;
  float: left;
  bottom: 31%;
  left: 1%;

}

#card {
  position: fixed;
  width: 50%;
  height: width/2;
  border: 1px solid #000000;
  left: 25%;
  top: 15%;
}

#decks_outer {
  position: fixed;
  height: 103px;
  width: 100%;
  top: 70%;
  white-space:nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  background-color: yellow;
  padding-bottom: 2%;
}
