// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decks {
  width: 15%;
  height: width/2;
  border: 2px solid #000000;
  margin: 0em 1em 0em 1em;
}

#card {
  width: 60%;
  height: width/2;
  border: 2px solid #000000;
}

#decks_outer {
  white-space:nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}