// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar {
  background-color: white;
  display:inline-block;
  height:98px;
  width:100%;
}

#profiles {
  float: right;
  margin-right:200px;
}

#linkedin {
  float: left;
}

#github {
  float: right;
}

#index_photo {
  width:100%;
}

h1, #greeting{
  color: red;
  float: left;
  margin-left: 150px;
}

#flashcards, #accounts {
  float: right;
}

#flashcards {
  margin-right: 150px;
}

h2 a {

}

.notFirst {
  margin-right: 10px;
}

.sign_in_out {
  float:right;
  margin-right: 150px;
}

#greeting {
  color: black;
}

